.left-col
  #welcome
    h2 Welcome
    p
      | What started out as just an idea an emplyee at 
      a(href="http://softhouse.se") Softhouse
      |  had, has now been made in to this!
    p
      | Softhouse garden is a place where the people that work at 
      | Softhouse can showcase the projects they spend their free time 
      | on. The idea is that other emplyees should find the
      | projects and help them grow in to real products. Some might 
      | even bear fruit and make some money!</p>
    p
      | You can watch the initial presentation of this idea 
      a(href="http://vimeo.com/25221419") here
      |  (in Swedish)
  h2 Random projects
  #gallery
    .box
      h3 01
      img(src='images/pic_1.jpg', width='119', height='84', alt='Pic 1')
      p
        | This is just a placeholder so you can see what the site would 
        | look like
      p.more: a(href='#') More
    .box.box-lit
      h3 02
      img(src='images/pic_2.jpg', width='119', height='84', alt='Pic 2')
      p
        | This is just a placeholder so you can see what the site would 
        | look like
      p.more: a(href='#') More
    .box
      h3 03
      img(src='images/pic_3.jpg', width='119', height='84', alt='Pic 3')
      p
        | This is just a placeholder so you can see what the site would 
        | look like
      p.more: a(href='#') More
.right-col
  h2 Most popular projects
  ul
    li: a(href='#') Node.js
    li: a(href='#') express
    li: a(href='#') jade
    li: a(href='#') LiteStep
    li: a(href='#') vim
  h2 Newest projects
  ul
    li: a(href='#') Softhouse Garden
    li: a(href='#') jade
    li: a(href='#') Hackintosh
    li: a(href='#') lsinfo
    li: a(href='#') vps_box
    
