<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>Softhouse Garden</title>
	<link rel="stylesheet" href="style.css" type="text/css" charset="utf-8" />
</head>

<body>
  <div id="wrapper">
    <div id="header">
      <h1>Softhouse Garden</h1><h2>Where ideas grow</h2>
      <div id="nav-top">
        <ul>
          <li id="tab-faq"><a href="/users/username">&lt;UserName&gt;</a> | </li>
          <li id="tab-map"><a href="/logout">Logout</a></li>
        </ul>
      </div>
      <div id="nav">
        <ul>
          <li class="home"><a href="http://www.freewebsitetemplates.com">Home</a></li>
          <li><a href="http://www.freewebsitetemplates.com">Users</a></li>
          <li><a href="http://www.freewebsitetemplates.com">Repositories</a></li>
          <li><a href="http://www.freewebsitetemplates.com">Proposals</a></li>
        </ul>
      </div>
    </div>
    <div id="content">
      <div class="left-col">
        <div id="welcome">
          <h2>Welcome</h2>
		  <p>What started out as just an idea an emplyee at <a href="http://softhouse.se">Softhouse</a>
		  has now been made in to this!</p>
		  <p>Softhouse garden is a place where the people that work at Softhouse can showcase the
		  projects they spend their free time on. The idea is that other emplyees should find the
		  projects and help them grow in to real products. Some might even bear fruit and make some
		  money!</p>
		  <p>You can watch the initial presentation of this idea 
		  <a href="http://vimeo.com/25221419">here</a> (in Swedish)</p>
        </div>
        <h2>Random projects</h2>
        <div id="gallery">
          <div class="box">
            <h3>01</h3>
            <img src="images/pic_1.jpg" width="119" height="84" alt="Pic 1" />
            <p>This is just a place holder so you can see how the site would look like.</p>
            <p class="more"><a href="http://www.freewebsitetemplates.com">more</a></p>
          </div>
          <div class="box box-lit">
            <h3>02</h3>
            <img src="images/pic_2.jpg" width="119" height="84" alt="Pic 2" />
            <p>This is just a place holder so you can see how the site would look like.</p>
            <p class="more"><a href="http://www.freewebsitetemplates.com">more</a></p>
          </div>
          <div class="box">
            <h3>03</h3>
            <img src="images/pic_3.jpg" width="119" height="84" alt="Pic 3" />
            <p>This is just a place holder so you can see how the site would look like.</p>
            <p class="more"><a href="http://www.freewebsitetemplates.com">more</a></p>
          </div>
        </div>
      </div>
      <div class="right-col">
        <h2>Most popular projects</h2>
        <ul>
          <li><a href="http://www.freewebsitetemplates.com">Beagle            </a></li>             
          <li><a href="http://www.freewebsitetemplates.com">Boxer             </a></li>             
          <li><a href="http://www.freewebsitetemplates.com">Bulldog           </a></li>             
          <li><a href="http://www.freewebsitetemplates.com">Chihuahua         </a></li>             
          <li><a href="http://www.freewebsitetemplates.com">Dachshund         </a></li>             
        </ul>
		<h2>Newest projects</h2>
        <ul>
          <li><a href="http://www.freewebsitetemplates.com">Beagle            </a></li>             
          <li><a href="http://www.freewebsitetemplates.com">Boxer             </a></li>             
          <li><a href="http://www.freewebsitetemplates.com">Bulldog           </a></li>             
          <li><a href="http://www.freewebsitetemplates.com">Chihuahua         </a></li>             
          <li><a href="http://www.freewebsitetemplates.com">Dachshund         </a></li>             
        </ul>
      </div>
    </div>
    <div class="clear" id="footc"> </div>
    <div id="footer">
		Softhouse AB takes no responsability for the projects showcased here. 
		They are made by Softhouse's emplyees in their own free time.
    </div>
  </div>                                      
</body>                                       
</html>                                       
