h1 Enter Garden
form(action="/sessions", method="post")#login_user
  p
    label(for="user_name") User Name:
    input(type="text", name="user_name")#user_name

  p
    label(for="password") Password:
    input(type="password", name="password")#password

  p
    input(type="submit")

  p
    | Or login using your google account:
    a(href='/googleopenid/authenticate', title='login with your google account')
      | Sign in with your
      img(src='http://www.google.com/favicon.ico')
      | account
